<section class="about-me section" id="about-me">
  <div class="container">
    <h2 class="about-me-title visually-hidden">About me</h2>
  
    <section class="about-me-top">
      <p class="about-me-summary">
        I work with people all over the world to create 
        impressive and <span class="about-me-func">functional</span> 
        <span class="about-me-ws">websites</span> that reflect each 
        client's unique personality.
      </p>
      <img class="about-me-photo" 
            src="../img/about-me/about-me-photo.jpg" 
            srcset="../img/about-me/about-me-photo.jpg 1x, 
                    ../img/about-me/about-me-photo@2x.jpg 2x" 
            alt="lloyd-jefferson's-photo">
    </section>
  
    <ul class="about-me-acc">
  
      <li class="about-me-acc-el about-me-current">
  
        <h3 class="about-me-acc-el-title">
          <button type="button" class="about-me-acc-el-trigger">
            About me
            <div class="about-me-acc-arr arr-down is-hidden">
              <svg class="about-me-acc-svg" width="20" height="20">
                <use href="../img/icons.svg#icon-arrow-down"></use>
              </svg>
            </div>
            <div class="about-me-acc-arr arr-up">
              <svg class="about-me-acc-svg" width="20" height="20">
                <use href="../img/icons.svg#icon-arrow-up"></use>
              </svg>
            </div>
          </button>
        </h3>
  
        <ul class="about-me-acc-el-descr-frame">
          <li class="about-me-acc-el-descr">
            I am Lloyd Jefferson, a talented programmer with 
            extensive expertise in software development. 
            I have an understanding of different programming 
            languages and technologies, always ready to improve my 
            skills. I always follow the latest trends and look for 
            unconventional, creative solutions to problems. I have a 
            high level of analytical skills and am able to 
            effectively solve even the most difficult tasks 
            encountered on the way.
          </li>
          <li class="about-me-acc-el-descr">
            Able to work both independently and in a team. I can 
            effectively cooperate with colleagues, exchanging ideas 
            and finding optimal solutions. Professional maturity 
            allows you to calmly cope with challenges and stressful 
            situations, while maintaining a high quality of work. 
            I am always looking for opportunities for 
            self-improvement. I actively study new technologies and 
            practices to stay abreast of the latest innovations. I 
            have a strong understanding of various programming 
            languages, frameworks and architectural concepts that 
            allow me to create efficient and scalable software.
          </li>
        </ul>
      </li>
  
      <li class="about-me-acc-el about-me-current">
  
        <h3 class="about-me-acc-el-title">        
          <button type="button" class="about-me-acc-el-trigger">
            Role
            <div class="about-me-acc-arr arr-down">
              <svg class="about-me-acc-svg" width="20" height="20">
                <use href="../img/icons.svg#icon-arrow-down"></use>
              </svg>
            </div>
            <div class="about-me-acc-arr arr-up is-hidden">
              <svg class="about-me-acc-svg" width="20" height="20">
                <use href="../img/icons.svg#icon-arrow-up"></use>
              </svg>
            </div>
          </button>
        </h3>
  
        <ul class="about-me-acc-el-descr-frame">
          <li class="about-me-acc-el-descr">Frontend development</li>
          <li class="about-me-acc-el-descr">HeadlessCMS, Wordpress</li>
          <li class="about-me-acc-el-descr">Blender (enjoy)</li>
        </ul>
      </li>
  
      <li class="about-me-acc-el about-me-current">
  
        <h3 class="about-me-acc-el-title">
          <button type="button" class="about-me-acc-el-trigger">
            Education
            <div class="about-me-acc-arr arr-down">
              <svg class="about-me-acc-svg" width="20" height="20">
                <use href="../img/icons.svg#icon-arrow-down"></use>
              </svg>
            </div>
            <div class="about-me-acc-arr arr-up is-hidden">
              <svg class="about-me-acc-svg" width="20" height="20">
                <use href="../img/icons.svg#icon-arrow-up"></use>
              </svg>
            </div>
          </button>
        </h3>
  
        <ul class="about-me-acc-el-descr-frame">
          <li class="about-me-acc-el-descr">
            2018 - 2019 / Frontend Development Diploma, 
            GoIT IT School, New York
          </li>
          <li class="about-me-acc-el-descr">
            2019 - 2020 / Advanced Web Development Certificate, 
            GoIT IT School, New York
          </li>
          <li class="about-me-acc-el-descr">
            2020 - 2022 / Advanced Blender Animation Techniques, 
            Udemy
          </li>
        </ul>
      </li>
      
    </ul>
  
    <section class="about-me-swiper">
      <div class="about-me-swiper-buttons">
        <button class="about-me-swiper-btn-prev" type="button">
          <svg class="about-me-swiper-svg" width="40" height="40">
            <use href="../img/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
      </div>
      <ul class="a-swiper-wrapper">
        <li class="about-me-swiper-slide-el">
          <div class="about-me-swiper-slide-el-text active">HTML/CSS</div>
        </li>
        <li class="about-me-swiper-slide-el">
          <div class="about-me-swiper-slide-el-text">JavaScript</div>
        </li>
        <li class="about-me-swiper-slide-el">
          <div class="about-me-swiper-slide-el-text">React</div>
        </li>
        <li class="about-me-swiper-slide-el">
          <div class="about-me-swiper-slide-el-text">Node.js</div>
        </li>
        <li class="about-me-swiper-slide-el">
          <div class="about-me-swiper-slide-el-text">React Native</div>
        </li>
        <li class="about-me-swiper-slide-el">
          <div class="about-me-swiper-slide-el-text">Soft skills</div>
        </li>
      </ul>
      <div class="about-me-swiper-buttons">
        <button class="about-me-swiper-btn-next" type="button">
          <svg class="about-me-swiper-svg" width="40" height="40">
            <use href="../img/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </section>
  </div>
</section>
