<section class="coversSection">
  <h2 class="visually-hidden"></h2>
  <div class="coversMainContainer">
    <div class="coversListContainer">
      <ul class="coversList">
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  /img/covers/rectangle-1.jpg    1x,
                  /img/covers/rectangle-1@2x.jpg 2x
                "
              />
              <img src="/img/covers/rectangle-1.jpg" alt="power pulse" />
            </picture>
          </div>
        </li>
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  /img/covers/rectangle-10.jpg    1x,
                  /img/covers/rectangle-10@2x.jpg 2x
                "
              />
              <img src="/img/covers/rectangle-10.jpg" alt="starlight" />
            </picture>
          </div>
        </li>
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  /img/covers/rectangle-6.jpg    1x,
                  /img/covers/rectangle-6@2x.jpg 2x
                "
              />
              <img src="/img/covers/rectangle-6.jpg" alt="chego" />
            </picture>
          </div>
        </li>
      </ul>
      <ul class="coversList">
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  ../img/covers/rectangle-2.jpg    1x,
                  ../img/covers/rectangle-2@2x.jpg 2x
                "
              />
              <img src="../img/covers/rectangle-2.jpg" alt="mimino" />
            </picture>
          </div>
        </li>
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  ../img/covers/rectangle-4.jpg    1x,
                  ../img/covers/rectangle-4@2x.jpg 2x
                "
              />
              <img src="../img/covers/rectangle-4.jpg" alt="green.harvest" />
            </picture>
          </div>
        </li>
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  ../img/covers/rectangle-8.jpg    1x,
                  ../img/covers/rectangle-8@2x.jpg 2x
                "
              />
              <img src="../img/covers/rectangle-8.jpg" alt="fruitbox" />
            </picture>
          </div>
        </li>
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  ../img/covers/rectangle-2.jpg    1x,
                  ../img/covers/rectangle-2@2x.jpg 2x
                "
              />
              <img src="../img/covers/rectangle-2.jpg" alt="mimino" />
            </picture>
          </div>
        </li>
      </ul>
      <ul class="coversList">
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  ../img/covers/rectangle-7.jpg    1x,
                  ../img/covers/rectangle-7@2x.jpg 2x
                "
              />
              <img src="../img/covers/rectangle-7.jpg" alt="energy.flow" />
            </picture>
          </div>
        </li>
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  ../img/covers/rectangle-5.jpg    1x,
                  ../img/covers/rectangle-5@2x.jpg 2x
                "
              />
              <img src="../img/covers/rectangle-5.jpg" alt="wallet" />
            </picture>
          </div>
        </li>
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  ../img/covers/rectangle-7.jpg    1x,
                  ../img/covers/rectangle-7@2x.jpg 2x
                "
              />
              <img src="../img/covers/rectangle-7.jpg" alt="energy.flow" />
            </picture>
          </div>
        </li>
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  ../img/covers/rectangle-3.jpg    1x,
                  ../img/covers/rectangle-3@2x.jpg 2x
                "
              />
              <img src="../img/covers/rectangle-3.jpg" alt="vyshyvanka" />
            </picture>
          </div>
        </li>
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  ../img/covers/rectangle-9.jpg    1x,
                  ../img/covers/rectangle-9@2x.jpg 2x
                "
              />
              <img src="../img/covers/rectangle-9.jpg" alt="english" />
            </picture>
          </div>
        </li>
      </ul>
      <ul class="coversList">
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  ../img/covers/rectangle-3.jpg    1x,
                  ../img/covers/rectangle-3@2x.jpg 2x
                "
              />
              <img src="../img/covers/rectangle-3.jpg" alt="vyshyvanka" />
            </picture>
          </div>
        </li>
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  ../img/covers/rectangle-8.jpg    1x,
                  ../img/covers/rectangle-8@2x.jpg 2x
                "
              />
              <img src="../img/covers/rectangle-8.jpg" alt="fruitbox" />
            </picture>
          </div>
        </li>
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  ../img/covers/rectangle-5.jpg    1x,
                  ../img/covers/rectangle-5@2x.jpg 2x
                "
              />
              <img src="../img/covers/rectangle-5.jpg" alt="wallet" />
            </picture>
          </div>
        </li>
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  ../img/covers/rectangle-7.jpg    1x,
                  ../img/covers/rectangle-7@2x.jpg 2x
                "
              />
              <img src="../img/covers/rectangle-7.jpg" alt="energy.flow" />
            </picture>
          </div>
        </li>
      </ul>
      <ul class="coversList">
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  ../img/covers/rectangle-1.jpg    1x,
                  ../img/covers/rectangle-1@2x.jpg 2x
                "
              />
              <img src="../img/covers/rectangle-1.jpg" alt="power pulse" />
            </picture>
          </div>
        </li>
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  ../img/covers/rectangle-6.jpg    1x,
                  ../img/covers/rectangle-6@2x.jpg 2x
                "
              />
              <img src="../img/covers/rectangle-6.jpg" alt="chego" />
            </picture>
          </div>
        </li>
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  ../img/covers/rectangle-10.jpg    1x,
                  ../img/covers/rectangle-10@2x.jpg 2x
                "
              />
              <img src="../img/covers/rectangle-10.jpg" alt="starlight" />
            </picture>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
