<section class="coversSection">
  <h2 class="visually-hidden"></h2>
  <div class="coversMainContainer">
    <div class="coversListContainer">
      <ul class="coversList">
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  img/covers/rectangle-1.webp    1x,
                  img/covers/rectangle-1@2x.webp 2x
                "
              />
              <img
                src="img/covers/rectangle-1.webp"
                alt="power pulse"
                width="830"
                height="479"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  img/covers/rectangle-10.webp    1x,
                  img/covers/rectangle-10@2x.webp 2x
                "
              />
              <img
                src="img/covers/rectangle-10.webp"
                alt="starlight"
                width="830"
                height="479"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  img/covers/rectangle-6.webp    1x,
                  img/covers/rectangle-6@2x.webp 2x
                "
              />
              <img
                src="img/covers/rectangle-6.webp"
                alt="chego"
                width="830"
                height="479"
              />
            </picture>
          </div>
        </li>
      </ul>
      <ul class="coversList">
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  img/covers/rectangle-2.webp    1x,
                  img/covers/rectangle-2@2x.webp 2x
                "
              />
              <img
                src="img/covers/rectangle-2.webp"
                alt="mimino"
                width="830"
                height="479"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  img/covers/rectangle-4.webp    1x,
                  img/covers/rectangle-4@2x.webp 2x
                "
              />
              <img
                src="img/covers/rectangle-4.webp"
                alt="green.harvest"
                width="830"
                height="479"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  img/covers/rectangle-8.webp    1x,
                  img/covers/rectangle-8@2x.webp 2x
                "
              />
              <img
                src="img/covers/rectangle-8.webp"
                alt="fruitbox"
                width="830"
                height="479"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  img/covers/rectangle-2.webp    1x,
                  img/covers/rectangle-2@2x.webp 2x
                "
              />
              <img
                src="img/covers/rectangle-2.webp"
                alt="mimino"
                width="830"
                height="479"
              />
            </picture>
          </div>
        </li>
      </ul>
      <ul class="coversList">
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  img/covers/rectangle-7.webp    1x,
                  img/covers/rectangle-7@2x.webp 2x
                "
              />
              <img
                src="img/covers/rectangle-7.webp"
                alt="energy.flow"
                width="830"
                height="479"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  img/covers/rectangle-5.webp    1x,
                  img/covers/rectangle-5@2x.webp 2x
                "
              />
              <img
                src="img/covers/rectangle-5.webp"
                alt="wallet"
                width="830"
                height="479"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  img/covers/rectangle-7.webp    1x,
                  img/covers/rectangle-7@2x.webp 2x
                "
              />
              <img
                src="img/covers/rectangle-7.jpg"
                alt="energy.flow"
                width="830"
                height="479"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  img/covers/rectangle-3.webp    1x,
                  img/covers/rectangle-3@2x.webp 2x
                "
              />
              <img
                src="img/covers/rectangle-3.webp"
                alt="vyshyvanka"
                width="830"
                height="479"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  img/covers/rectangle-9.webp    1x,
                  img/covers/rectangle-9@2x.webp 2x
                "
              />
              <img
                src="img/covers/rectangle-9.webp"
                alt="english"
                width="830"
                height="479"
              />
            </picture>
          </div>
        </li>
      </ul>
      <ul class="coversList">
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  img/covers/rectangle-3.webp    1x,
                  img/covers/rectangle-3@2x.webp 2x
                "
              />
              <img
                src="img/covers/rectangle-3.webp"
                alt="vyshyvanka"
                width="830"
                height="479"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  img/covers/rectangle-8.webp    1x,
                  img/covers/rectangle-8@2x.webp 2x
                "
              />
              <img
                src="img/covers/rectangle-8.webp"
                alt="fruitbox"
                width="830"
                height="479"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  img/covers/rectangle-5.webp    1x,
                  img/covers/rectangle-5@2x.webp 2x
                "
              />
              <img
                src="img/covers/rectangle-5.webp"
                alt="wallet"
                width="830"
                height="479"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  img/covers/rectangle-7.webp    1x,
                  img/covers/rectangle-7@2x.webp 2x
                "
              />
              <img
                src="img/covers/rectangle-7.webp"
                alt="energy.flow"
                width="830"
                height="479"
              />
            </picture>
          </div>
        </li>
      </ul>
      <ul class="coversList">
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  img/covers/rectangle-1.webp    1x,
                  img/covers/rectangle-1@2x.webp 2x
                "
              />
              <img
                src="img/covers/rectangle-1.webp"
                alt="power pulse"
                width="830"
                height="479"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  img/covers/rectangle-6.webp    1x,
                  img/covers/rectangle-6@2x.webp 2x
                "
              />
              <img
                src="img/covers/rectangle-6.webp"
                alt="chego"
                width="830"
                height="479"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="coversPicturesContainer">
            <picture class="coversImage">
              <source
                srcset="
                  img/covers/rectangle-10.webp    1x,
                  img/covers/rectangle-10@2x.webp 2x
                "
              />
              <img
                src="img/covers/rectangle-10.webp"
                alt="starlight"
                width="830"
                height="479"
              />
            </picture>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
