<section id="questions" class="section">
  <div class="container faq-container">
    <h2 class="faq-main-title">FAQ</h2>
    <ul class="faq-items">
      <li class="faq-item animated-element animation-right">
        <h3 class="faq-title">
          <span class="fit-first-title"
            >What programming languages ​​are most often used in your
            project?</span
          >
          <button
            class="faq-acordeon-btn"
            type="button"
            aria-label="open FAQ item"
          >
            <svg class="modal-btn-icon" width="20px" height="20px">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-descr">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </li>
      <li class="faq-item animated-element animation-right">
        <h3 class="faq-title">
          <span class="fit-second-third-title"
            >What are the deadlines for the project?</span
          >
          <button
            class="faq-acordeon-btn"
            type="button"
            aria-label="open FAQ item"
          >
            <svg class="modal-btn-icon" width="20px" height="20px">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-descr">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
      </li>
      <li class="faq-item animated-element animation-right">
        <h3 class="faq-title">
          <span class="fit-second-third-title"
            >What payment methods do you accept?</span
          >
          <button
            class="faq-acordeon-btn"
            type="button"
            aria-label="open FAQ item"
          >
            <svg class="modal-btn-icon" width="20px" height="20px">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-descr">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </li>
      <li class="faq-item animated-element animation-left">
        <h3 class="faq-title">
          How can I contact you?
          <button
            class="faq-acordeon-btn"
            type="button"
            aria-label="open FAQ item"
          >
            <svg class="modal-btn-icon" width="20px" height="20px">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-descr">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </li>
      <li class="faq-item animated-element animation-left">
        <h3 class="faq-title">
          <span class="fit-fifth-title">Do you provide advice or support?</span>
          <button
            class="faq-acordeon-btn"
            type="button"
            aria-label="open FAQ item"
          >
            <svg class="modal-btn-icon" width="20px" height="20px">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-descr">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
      </li>
      <li class="faq-item animated-element animation-left">
        <h3 class="faq-title">
          <span class="fit-last-title">
            What does the process of developing a software product look like
            from idea to implementation?
          </span>
          <button
            class="faq-acordeon-btn"
            type="button"
            aria-label="open FAQ item"
          >
            <svg class="modal-btn-icon" width="20px" height="20px">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-descr">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </li>
    </ul>
  </div>
</section>
