<section class="section" id="faq-section">
  <div class="container faq-container">
    <h2 class="faq-main-title">FAQ</h2>
    <ul class="faq-items">
      <li class="faq-item animated-element animation-right">
        <div class="faq-title">
          <h3 class="faq-title-header first-title">
            What programming languages ​​are most often used in your project?
          </h3>
          <button
            class="faq-acordeon-btn"
            type="button"
            aria-label="open FAQ item"
          >
            <svg class="modal-btn-icon" width="20px" height="20px">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>

        <p class="faq-descr">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </li>
      <li class="faq-item animated-element animation-right">
        <div class="faq-title">
          <h3 class="faq-title-header second-title">
            What are the deadlines for the project?
          </h3>
          <button
            class="faq-acordeon-btn"
            type="button"
            aria-label="open FAQ item"
          >
            <svg class="modal-btn-icon" width="20px" height="20px">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <p class="faq-descr">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
      </li>
      <li class="faq-item animated-element animation-right">
        <div class="faq-title">
          <h3 class="faq-title-header third-title">
            What payment methods do you accept?
          </h3>
          <button
            class="faq-acordeon-btn"
            type="button"
            aria-label="open FAQ item"
          >
            <svg class="modal-btn-icon" width="20px" height="20px">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <p class="faq-descr">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </li>
      <li class="faq-item animated-element animation-left">
        <div class="faq-title">
          <h3 class="faq-title-header">How can I contact you?</h3>
          <button
            class="faq-acordeon-btn"
            type="button"
            aria-label="open FAQ item"
          >
            <svg class="modal-btn-icon" width="20px" height="20px">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <p class="faq-descr">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </li>
      <li class="faq-item animated-element animation-left">
        <div class="faq-title">
          <h3 class="faq-title-header fifth-title">
            Do you provide advice or support?
          </h3>
          <button
            class="faq-acordeon-btn"
            type="button"
            aria-label="open FAQ item"
          >
            <svg class="modal-btn-icon" width="20px" height="20px">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>

        <p class="faq-descr">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
      </li>
      <li class="faq-item animated-element animation-left">
        <div class="faq-title">
          <h3 class="faq-title-header sixth-title">
            What does the process of developing a software product look like
            from idea to implementation?
          </h3>
          <button
            class="faq-acordeon-btn"
            type="button"
            aria-label="open FAQ item"
          >
            <svg class="modal-btn-icon" width="20px" height="20px">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <p class="faq-descr">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </li>
    </ul>
  </div>
</section>
