<section class="faq" id="faq-section">
  <div class="faq-container container">
    <h2 class="title-faq">FAQ</h2>
    <div class="faq-accordion-wrapper">
      <div class="faq-accordion-container-1">
        <!-- FAQ Item 1 -->
        <div class="ac faq-ac border-center">
          <div class="ac-header faq-header">
            <div class="ac-trigger faq-btn">
              <p class="faq-questions">
                What programming languages are most often used in your project?
              </p>
              <div class="more-content">
                <div class="first-line ac-opened"></div>
                <div class="second-line ac-opened"></div>
              </div>
            </div>
          </div>
          <div class="ac-panel">
            <p class="ac-text">
              In the field of web development, there are various technologies
              and programming languages. Typically, this includes a combination
              of frontend (client side) and backend (server side) languages.
            </p>
          </div>
        </div>

        <!-- FAQ Item 2 -->
        <div class="ac faq-ac border-center">
          <div class="ac-header faq-header">
            <div class="ac-trigger faq-btn">
              <p class="faq-questions">
                What are the deadlines for the project?
              </p>
              <div class="more-content">
                <div class="first-line ac-opened"></div>
                <div class="second-line ac-opened"></div>
              </div>
            </div>
          </div>
          <div class="ac-panel">
            <p class="ac-text">
              The terms of project implementation depend to a large extent on a
              number of factors, such as the scope of the project, its
              complexity, and the availability of resources. Determining exact
              deadlines is a difficult task, and it usually occurs during the
              planning phase of the project.
            </p>
          </div>
        </div>

        <!-- FAQ Item 3 -->
        <div class="ac faq-ac border-center">
          <div class="ac-header faq-header padding-change">
            <div class="ac-trigger faq-btn">
              <p class="faq-questions">What payment methods do you accept?</p>
              <div class="more-content">
                <div class="first-line ac-opened"></div>
                <div class="second-line ac-opened"></div>
              </div>
            </div>
          </div>
          <div class="ac-panel">
            <p class="ac-text">
              Payment through credit and debit cards such as Visa, MasterCard,
              specialized electronic payment systems such as PayPal, as well as
              payments in cryptocurrencies such as Bitcoin, Ethereum, and
              others.
            </p>
          </div>
        </div>
      </div>
      <div class="faq-accordion-container-2">
        <!-- FAQ Item 4 -->
        <div class="ac faq-ac">
          <div class="ac-header faq-header">
            <div class="ac-trigger faq-btn">
              <p class="faq-questions indentation">How can I contact you?</p>
              <div class="more-content">
                <div class="first-line ac-opened"></div>
                <div class="second-line ac-opened"></div>
              </div>
            </div>
          </div>
          <div class="ac-panel">
            <p class="ac-text indentation">
              In the field of web development, there are various technologies
              and programming languages. Typically, this includes a combination
              of frontend (client side) and backend (server side) languages.
            </p>
          </div>
        </div>

        <!-- FAQ Item 5 -->
        <div class="ac faq-ac">
          <div class="ac-header faq-header">
            <div class="ac-trigger faq-btn">
              <p class="faq-questions indentation">
                Do you provide advice or support?
              </p>
              <div class="more-content">
                <div class="first-line ac-opened"></div>
                <div class="second-line ac-opened"></div>
              </div>
            </div>
          </div>
          <div class="ac-panel">
            <p class="ac-text indentation">
              The terms of project implementation depend to a large extent on a
              number of factors, such as the scope of the project, its
              complexity, and the availability of resources. Determining exact
              deadlines is a difficult task, and it usually occurs during the
              planning phase of the project.
            </p>
          </div>
        </div>

        <!-- FAQ Item 6 -->
        <div class="ac faq-ac">
          <div class="ac-header faq-header">
            <div class="ac-trigger faq-btn">
              <p class="faq-questions indentation">
                What does the process of developing a software<br />
                product look like from idea to implementation?
              </p>
              <div class="more-content">
                <div class="first-line ac-opened"></div>
                <div class="second-line ac-opened"></div>
              </div>
            </div>
          </div>
          <div class="ac-panel">
            <p class="ac-text indentation">
              Payment through credit and debit cards such as Visa, MasterCard,
              specialized electronic payment systems such as PayPal, as well as
              payments in cryptocurrencies such as Bitcoin, Ethereum, and
              others.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
