<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      Hello. <br />I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <ul class="hero-link-list">
      <li class="hero-link-item">
        <a
          class="hero-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
        >
          Ig
        </a>
      </li>
      <li class="hero-link-item">
        <a
          class="hero-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
        >
          Fb
        </a>
      </li>
      <li class="hero-link-item">
        <a
          class="hero-link"
          href=" https://www.youtube.com/c/GoIT"
          target="_blank"
        >
          Yt
        </a>
      </li>
      <li class="hero-link-item">
        <a
          class="hero-link"
          href="https://github.com/Anastasiia-Bekirova/portfolio-project-team07"
          target="_blank"
        >
          Gh
        </a>
      </li>
      <li class="hero-link-item hero-link-item-email">
        <address>
          <a class="hero-link" href="mailto:lloydjefferson@gmail.com">
            lloydjefferson@gmail.com
          </a>
        </address>
      </li>
    </ul>
  </div>
</section>
