<div class="mob-menu">
  <div class="mob-menu-container">
    <button class="mob-menu-btn-close mob-link-js" type="button">
      <svg class="mob-menu-btn-icon">
        <use href="../img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="mob-menu-list">
      <li class="mob-menu-link mob-link-js">
        <a href="#about-me">About me</a>
      </li>
      <li class="mob-menu-link mob-link-js">
        <a href="#benefits">Benefits</a>
      </li>
      <li class="mob-menu-link mob-link-js">
        <a href="#projects">Projects</a>
      </li>
      <li class="mob-menu-link mob-link-js"><a href="#faq">FAQ</a></li>
    </ul>
    <a class="mob-menu-link-order mob-link-js" href="#work-together"
      >Order the project</a
    >
  </div>
</div>
