<section class="section project-section" id="projects">
  <div class="container project-container">
    <h2 class="project-title">Project</h2>
    <div class="swiper-container project-swiper-container">
      <ul class="swiper-wrapper project-swiper-wrapper">
        <li class="swiper-slide project-swiper-slide">
          <div class="project-white-container">
            <ul class="project-swiper-list">
              <li class="project-swiper-item">#react</li>
              <li class="project-swiper-item">#js</li>
              <li class="project-swiper-item">#node js</li>
              <li class="project-swiper-item">#git</li>
            </ul>
            <h3 class="project-swiper-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              href="https://github.com/Anastasiia-Bekirova/portfolio-project-team07"
              class="project-swiper-link"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="project-dark-container">
            <picture>
              <source
                srcset="
                  ../img/projects/projects_1_1x.webp 1x,
                  ../img/projects/projects_1_2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../img/projects/image_1_mob_1x.png 1x,
                  ../img/projects/image1_mob_2x.png  2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="../img/projects/projects_1_1x.webp"
                alt="read journey"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
        <li class="swiper-slide project-swiper-slide">
          <div class="project-white-container">
            <ul class="project-swiper-list">
              <li class="project-swiper-item">#react</li>
              <li class="project-swiper-item">#js</li>
              <li class="project-swiper-item">#node js</li>
              <li class="project-swiper-item">#git</li>
            </ul>
            <h3 class="project-swiper-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              href="https://github.com/Anastasiia-Bekirova/portfolio-project-team07"
              class="project-swiper-link"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="project-dark-container">
            <source
              srcset="
                ../img/projects/projects_2_1x.webp 1x,
                ../img/projects/projects_2_2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/projects/image_2_mob_1x.png 1x,
                ../img/projects/image_2_mob_x2.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/projects/projects_2_1x.webp"
              alt="pet love"
              loading="lazy"
            />
          </div>
        </li>
        <li class="swiper-slide project-swiper-slide">
          <div class="project-white-container">
            <ul class="project-swiper-list">
              <li class="project-swiper-item">#react</li>
              <li class="project-swiper-item">#js</li>
              <li class="project-swiper-item">#node js</li>
              <li class="project-swiper-item">#git</li>
            </ul>
            <h3 class="project-swiper-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              href="https://github.com/Anastasiia-Bekirova/portfolio-project-team07"
              class="project-swiper-link"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="project-dark-container">
            <source
              srcset="
                ../img/projects/projects_3_1x.webp 1x,
                ../img/projects/projects_3_2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/projects/image_3_mob_1x.png 1x,
                ../img/projects/image_3_mob_x2.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/projects/projects_3_1x.webp"
              alt="vocab builder"
              loading="lazy"
            />
          </div>
        </li>
      </ul>
      <div class="projects-button-wrapper">
        <button
          type="button"
          class="projects-button-prev"
          aria-label="Swipe to the previous slide"
        >
          <svg class="projects-button-icon">
            <use href="img/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button
          type="button"
          class="projects-button-next"
          aria-label="Swipe to the next slide"
        >
          <svg class="projects-button-icon">
            <use href="img/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!--  -->
</section>
