<section class="section project-section">
  <div class="container project-container">
    <h2 class="section-title">Projects</h2>
    <div class="swiper project-swiper swiper-container">
      <ul class="projects-swiper-wrapper swiper-wrapper">
        <li class="projects-swiper-slide swiper-slide">
          <div class="project-white-wrapper">
            <ul class="skills-list">
              <li class="skills-item">#react</li>
              <li class="skills-item">#js</li>
              <li class="skills-item">#node js</li>
              <li class="skills-item">#git</li>
            </ul>
            <h3 class="project-slide-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a href="" class="project-slide-link">See project</a>
          </div>
          <div class="project-black-wrapper">
            <img
              src="../img/projects/projects_1_1x.webp"
              srcset="../img/projects/projects_1_2x.webp"
              alt="read journey"
              class="project-slide-img"
              loading="lazy"
            />
          </div>
        </li>
        <li class="projects-swiper-slide swiper-slide">
          <div class="project-white-wrapper">
            <ul class="skills-list">
              <li class="skills-item">#react</li>
              <li class="skills-item">#js</li>
              <li class="skills-item">#node</li>
              <li class="skills-item">#git</li>
            </ul>
            <h3 class="project-slide-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a href="" class="project-slide-link">See project</a>
          </div>
          <div class="project-black-wrapper">
            <img
              src="../img/projects/projects_1_1x.webp"
              srcset="../img/projects/projects_1_2x.webp"
              alt="read journey"
              class="project-slide-img"
              loading="lazy"
            />
          </div>
        </li>
        <li class="projects-swiper-slide swiper-slide">
          <div class="project-white-wrapper">
            <ul class="skills-list">
              <li class="skills-item">#react</li>
              <li class="skills-item">#js</li>
              <li class="skills-item">#node</li>
              <li class="skills-item">#git</li>
            </ul>
            <h3 class="project-slide-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a href="" class="project-slide-link">See project</a>
          </div>
          <div class="project-black-wrapper">
            <img
              src="../img/projects/projects_1_1x.webp"
              srcset="../img/projects/projects_1_2x.webp"
              alt="read journey"
              class="project-slide-img"
              loading="lazy"
            />
          </div>
        </li>
      </ul>

      <div class="swiper-button">
        <button class="swiper-btn-next">
          <svg class="button-icon">
            <use href=" ../img/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>

        <button class="swiper-btn-prev">
          <svg class="button-icon">
            <use href="../img/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
-->
