<section class="section project-section" id="projects">
  <div class="container project-container">
    <h2 class="project-title">Project</h2>
    <div class="swiper-container project-swiper-container">
      <ul class="swiper-wrapper project-swiper-wrapper">
        <li class="swiper-slide project-swiper-slide">
          <div class="project-white-container">
            <ul class="project-swiper-list">
              <li class="project-swiper-item">#react</li>
              <li class="project-swiper-item">#js</li>
              <li class="project-swiper-item">#node js</li>
              <li class="project-swiper-item">#git</li>
            </ul>
            <h3 class="project-swiper-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a href="#" class="project-swiper-link">See project</a>
          </div>
          <div class="project-dark-container">
            <img
              class="project-img"
              src="img/projects/projects_1_1x.webp"
              srcset="img/projects/projects_1_2x.webp"
              alt=""
            />
          </div>
        </li>
        <li class="swiper-slide project-swiper-slide">
          <div class="project-white-container">
            <ul class="project-swiper-list">
              <li class="project-swiper-item">#react</li>
              <li class="project-swiper-item">#js</li>
              <li class="project-swiper-item">#node js</li>
              <li class="project-swiper-item">#git</li>
            </ul>
            <h3 class="project-swiper-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a href="#" class="project-swiper-link">See project</a>
          </div>
          <div class="project-dark-container">
            <img
              class="project-img"
              src="img/projects/projects_2_1x.webp"
              srcset="img/projects/projects_2_2x.webp"
              alt=""
            />
          </div>
        </li>
        <li class="swiper-slide project-swiper-slide">
          <div class="project-white-container">
            <ul class="project-swiper-list">
              <li class="project-swiper-item">#react</li>
              <li class="project-swiper-item">#js</li>
              <li class="project-swiper-item">#node js</li>
              <li class="project-swiper-item">#git</li>
            </ul>
            <h3 class="project-swiper-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a href="#" class="project-swiper-link">See project</a>
          </div>
          <div class="project-dark-container">
            <img
              class="project-img"
              src="img/projects/projects_1_1x.webp"
              srcset="img/projects/projects_3_2x.webp"
              alt=""
            />
          </div>
        </li>
      </ul>
      <div class="projects-button-wrapper">
        <button
          type="button"
          class="projects-button-prev"
          aria-label="Swipe to the previous slide"
        >
          <svg class="projects-button-icon">
            <use href="img/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button
          type="button"
          class="projects-button-next"
          aria-label="Swipe to the next slide"
        >
          <svg class="projects-button-icon">
            <use href="img/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!--  -->
</section>
<!-- hello -->
<!-- comments -->
