<section class="section section-reviews">
  <div class="reviews container">
    <h2 class="reviews-title">REVIEWS</h2>
    <div class="reviews-container mySwiper">
      <ul
        class="swiper-wrapper"
        id="reviews-list"
        aria-label="List of reviews"
      ></ul>
    </div>
  </div>
  <div class="arrows-container">
    <button class="custom-arrow custom-prev" aria-label="Previous slide">
      <svg class="arrow-next" width="24" height="24" aria-hidden="true">
        <use href="../img/icons.svg#icon-arrow-right"></use>
      </svg>
    </button>
    <button class="custom-arrow custom-next" aria-label="Next slide">
      <svg class="arrow-next" width="24" height="24" aria-hidden="true">
        <use href="../img/icons.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
</section>
