<section class="work-together">
  <div class="container">
    <div class="wt-header-wrapper">
      <img
        class="wt-img"
        srcset="../img/jefferson.png 1x, ../img/jefferson@2x.png 2x"
        src="../img/jefferson.png"
        alt="Jefferson"
      />
      <h2 class="wt-header">
        <!-- ! Переименовать -->
        <span class="woowwowowo"
          >let's <span class="word-work">work</span></span
        >
        together
      </h2>
    </div>
    <form class="wt-form">
      <input
        class="wt-input"
        type="email"
        name=""
        id=""
        placeholder="clients@gmail.com"
      />
      <input
        class="wt-input"
        type="text"
        name=""
        id=""
        placeholder="comments"
      />
      <button class="wt-btn" type="submit">Send</button>
    </form>
    <address class="wt-address">
      <ul class="wt-address-list">
        <li class="wt-address-item">
          <a
            class="wt-address-link"
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </li>
        <li class="wt-address-item">
          <a class="wt-address-link" href="tell:3801111111111"
            >+380 11 1111 11 11</a
          >
        </li>
      </ul>
    </address>
  </div>
  <section />
</section>
