<!-- <div class=""> -->
<section id="work-together" class="section work-together">
  <div class="container">
    <div class="wt-container">
      <div class="wt-header-wrapper">
        <img
          class="wt-img"
          srcset="/img/logo-font.jpg 1x, /img/logo-font@2x.jpg 2x"
          src="/img/logo-font.jpg"
          alt="Jefferson"
        />
        <h2 class="wt-header">
          <span class="span-wt-header"
            >let's <span class="word-work">work</span></span
          >
          together
        </h2>
      </div>
      <form class="wt-form">
        <div class="wt-input-wrapper">
          <input
            class="wt-input wt-input-js"
            type="email"
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            placeholder="clients@gmail.com"
          />
          <span class="message-input"></span>
        </div>
        <input class="wt-input" type="text" placeholder="comments" />
        <button class="wt-btn" type="submit">Send</button>
      </form>
      <address class="wt-address">
        <ul class="wt-address-list">
          <li class="wt-address-item">
            <a class="wt-address-link" href="mailto:lloydjefferson@gmail.com"
              >lloydjefferson@gmail.com</a
            >
          </li>
          <li class="wt-address-item">
            <a class="wt-address-link" href="tell:3801111111111"
              >+380 11 1111 11 11</a
            >
          </li>
        </ul>
      </address>
    </div>
  </div>
</section>
