@import url('accordion-js/dist/accordion.min.css');
@import url('swiper/css');
@import url('swiper/css/navigation');

/* * {
  box-sizing: border-box;
} */

/* body {
  background-color: #1c1d20;
  color: #fafafa;
  font-family: 'Inter Tight';
  padding: 32px;
  min-width: 0;
  min-height: 0;
} */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-me {
  padding-top: 64px;
}

.about-me-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  margin-bottom: 96px;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
  .about-me {
    padding-top: 96px;
  }
  .about-me-swiper-btn-prev {
    left: 30px;
  }

  .about-me-swiper-btn-next {
    right: 30px;
  }
}

.about-me-summary {
  font-size: 38px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -1.14px;
  text-transform: uppercase;
  width: calc((100% - 16px) / 2);
  padding: 64px 64px 436px 64px;
  border-radius: 24px;
  background: #242527;
}

.about-me-func {
  color: #ed3b44;
}

.about-me-ws {
  color: rgba(250, 250, 250, 0.4);
}

.about-me-photo {
  width: calc((100% - 16px) / 2);
  height: auto;
  object-fit: cover;
  border-radius: 24px;
  background: lightgray 50% / cover no-repeat;
}

/* **************ACCORDION********** */

.about-me-acc {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 96px;
}

.about-me-acc-el {
  padding-bottom: 32px;
}

.about-me-acc-el-title {
  color: rgba(250, 250, 250, 0.4);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
}

.about-me-acc-el-trigger {
  background: none;
  border: none;
  color: rgba(250, 250, 250, 0.4);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
}

.about-me-acc-arr {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.about-me-acc-arr.is-hidden {
  display: none;
}

.about-me-acc-el-descr-frame {
  display: none;
  margin-left: auto;
  margin-right: 68px;
  max-width: 612px;
}

.about-me-acc-el-descr {
  color: #fafafa;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
  margin-bottom: 32px;
}

.about-me-acc-el.active .about-me-acc-el-descr-frame {
  display: block;
}

.about-me-current {
  position: relative;
}

.about-me-current::after {
  width: 100%;
  height: 1px;
  background: rgba(250, 250, 250, 0.2);
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
}

/* **************SWIPER********** */

.about-me-swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  overflow: visible !important;
}

.about-me-swiper-wrapper {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.about-me-swiper-slide-el {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none !important; /**/
  padding: 0 !important; /**/
  width: 200px !important; /**/
  height: 200px !important; /**/
}

.about-me-swiper-slide-el-circle {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  overflow: hidden !important;
  position: relative !important;
  width: 200px !important;
  height: 200px !important;
  background-color: none !important;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50% !important;
  /* transition: transform 0.3s, background-color 0.3s ease !important; */
}

/* .about-me-swiper-slide-el-circle.active {
  background-color: #ed3b44 !important;
} */

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ed3b44; /* Червоний колір */
  transform: scale(0); /* Зменшуємо початкове коло */
  transition: transform 0.3s ease; /* Анімація зміни розміру */
}

.about-me-swiper-slide-el-text {
  position: relative !important;
  z-index: 1 !important;
  color: #fafafa !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: normal !important;
  letter-spacing: -0.4px !important;
  text-align: center !important;
}

.about-me-swiper-btn-prev,
.about-me-swiper-btn-next {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  cursor: pointer;
}

.about-me-swiper-btn-prev {
  left: 10px;
}

.about-me-swiper-btn-next {
  right: 10px;
}

.about-me-swiper-svg {
  stroke: rgba(59, 59, 59, 1);
  background-color: none;
  cursor: pointer;
}

.about-me-swiper-buttons.swiper-button-next,
.about-me-swiper-buttons.swiper-button-prev {
  display: none;
}
