@import url('accordion-js/dist/accordion.min.css');
@import url('swiper/css');
@import url('swiper/css/navigation');

/* * {
  box-sizing: border-box;
} */

/* body {
  background-color: #1c1d20;
  color: #fafafa;
  font-family: 'Inter Tight';
  padding: 32px;
  min-width: 0;
  min-height: 0;
} */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-me {
  /* padding */
}

.about-me-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  margin-bottom: 96px;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}

.about-me-summary {
  font-size: 38px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -1.14px;
  text-transform: uppercase;
  width: calc((100% - 16px) / 2);
  padding: 64px 64px 436px 64px;
  border-radius: 24px;
  background: #242527;
}

.about-me-func {
  color: #ed3b44;
}

.about-me-ws {
  color: rgba(250, 250, 250, 0.4);
}

.about-me-photo {
  width: calc((100% - 16px) / 2);
  height: auto;
  object-fit: cover;
  border-radius: 24px;
  background: lightgray 50% / cover no-repeat;
}

.about-me-acc {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 96px;
}

.about-me-acc-el {
  padding-bottom: 32px;
}

.about-me-acc-el-title {
  color: rgba(250, 250, 250, 0.4);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
}

.about-me-acc-el-trigger {
  background: none;
  border: none;
  color: rgba(250, 250, 250, 0.4);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
}

.about-me-acc-arr {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.about-me-acc-arr.is-hidden {
  display: none;
}

.about-me-acc-el-descr-frame {
  display: none;
  margin-left: auto;
  margin-right: 68px;
  max-width: 612px;
}

.about-me-acc-el-descr {
  color: #fafafa;
  /* Desktop_tablet/Main text */
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
  margin-bottom: 32px;
}

.about-me-acc-el.active .about-me-acc-el-descr-frame {
  display: block;
}

.about-me-current {
  position: relative;
}

.about-me-current::after {
  width: 100%;
  height: 1px;
  background: rgba(250, 250, 250, 0.2);
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
}

.about-me-swiper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.a-swiper-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-me-swiper-slide-el {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-swiper-slide-el-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  transition: transform 0.3s, background-color 0.3s;
  color: #fafafa;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.4px;
}
.about-me-swiper-slide-el-text.active {
  background-color: #ed3b44; /* Red color for active */
  transform: scale(1.1); /* Scale up the active circle */
}

.about-me-swiper-buttons {
}

.about-me-swiper-btn-prev,
.about-me-swiper-btn-next {
  color: rgba(59, 59, 59, 1);
}

.about-me-swiper-btn-next {
}

.about-me-swiper-svg {
}
