@font-face {
  font-family: 'Inter Tight';
  src: url('../fonts/InterTight-Medium.ttf') format('truetype');
  font-weight: 500; /*Medium*/
  font-style: normal;
}
@font-face {
  font-family: 'Inter Tight';
  src: url('../fonts/InterTight-SemiBold.ttf') format('truetype');
  font-weight: 600; /*SemiBold*/
  font-style: normal;
}

 html {
   scroll-behavior: smooth;
 }

body {
  font-family: "Inter Tight", sans-serif;
  background: #1c1d20;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}


button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

main {
  flex-grow: 1;
}
address {
  font-style: normal;
}

