.faq-items {
  margin-top: 32px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}
.faq-container {
  overflow: hidden;
}
.faq-item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
}
@media only screen and (min-width: 768px) {
  .faq-item {
    padding-top: 32px;
    padding-bottom: 24px;
  }
}
@media only screen and (min-width: 1440px) {
  .faq-items {
    display: grid;
    grid-template-columns: auto 50%;
    grid-auto-flow: column;
  }
  .faq-item:nth-child(-n + 3) {
    grid-column: 1;
    padding-right: 32px;
  }
  .faq-item:nth-child(n + 4) {
    grid-column: 2;
    padding-left: 32px;
    border-left: 1px solid rgba(250, 250, 250, 0.2);
  }
  .faq-item {
    padding-bottom: 26px;
    width: 688px;
  }
}

.faq-title {
  color: #fafafa;
  font-family: 'Inter Tight';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 300ms ease-in-out;
}
.faq-title:hover {
  background-color: #242527;
}
.fit-first-title {
  width: 265px;
}
.fit-second-third-title {
  width: 241px;
}
.fit-fifth-title {
  width: 208px;
}
.fit-last-title {
  width: 289px;
}
@media only screen and (min-width: 768px) {
  .fit-first-title {
    width: 100%;
  }
  .fit-second-third-title {
    width: 100%;
  }
  .fit-fifth-title {
    width: 100%;
  }
  .fit-last-title {
    width: 485px;
  }
}
/* Descr */
.faq-descr {
  color: rgba(250, 250, 250, 0.6);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 768px) {
  .faq-descr {
    width: 656px;
  }
}
@media only screen and (min-width: 1440px) {
  .faq-descr {
    padding-bottom: 0;
  }
}

.faq-acordeon-btn {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  padding: 7px;
  transition: transform 300ms ease-in-out;
}

.modal-btn-icon {
  fill: none;
  stroke: white;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .faq-acordeon-btn {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
}
.faq-item.js-enabled .faq-descr {
  visibility: hidden;
}
.faq-item.is-active .faq-descr {
  visibility: visible;
}
.faq-item .faq-descr {
  overflow: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease;
}
.faq-main-title {
  color: rgba(250, 250, 250, 0.4);

  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
