.section {
  background: #1c1d20;
}
.project-section {
}
.container {
}
.project-container {
  overflow: hidden;
}

@media only screen and (min-width: 1440px) {
  .project-container {
  }
}
.project-title {
  color: rgba(250, 250, 250, 0.4);

  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.swiper-container {
}
.project-swiper-container {
  overflow: hidden;
}

.swiper-slide.project-swiper-slide {
  flex-direction: column;
}

@media only screen and (min-width: 1440px) {
  .swiper-slide.project-swiper-slide {
    display: flex;
    flex-direction: row;
  }
}
.swiper-wrapper {
  width: 100%;
}
.project-swiper-wrapper {
}
.swiper-slide {
  width: 100%;
}
.project-swiper-slide {
  border-radius: 24px;
  width: 100%;
  overflow: hidden;
}
@media only screen and (min-width: 1440px) {
  .swiper-slide {
    display: flex;
  }
}
.project-white-container {
  padding: 32px;
  background: #fafafa;
}

@media only screen and (min-width: 768px) {
  .project-white-container {
    padding: 64px 146px 64px 64px;
    background: #fafafa;
  }
}

@media only screen and (min-width: 1440px) {
  .project-white-container {
    padding: 64px 130px 64px 64px;
    background: #fafafa;
  }
}

.project-swiper-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 96px;
}

@media only screen and (min-width: 1440px) {
  .project-swiper-list {
    margin-bottom: 223px;
  }
}

.project-swiper-item {
  padding: 13px 18px;
  color: #1c1d20;

  font-family: 'Inter Tight';
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;

  border-radius: 60px;
  border: 1px solid rgba(28, 29, 32, 0.2);
}
.project-swiper-title {
  color: #1c1d20;

  font-family: 'Inter Tight';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.72px;

  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .project-swiper-title {
    font-size: 44px;
    line-height: 44px; /* 100% */
    letter-spacing: -1.32px;
  }
}

@media only screen and (min-width: 1440px) {
  .project-swiper-title {
  }
}
.project-swiper-link {
  color: #fafafa;

  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  display: inline-flex;
  padding: 13px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 60px;
  background: #ed3b44;
}
.project-dark-container {
  background: #242527;
  padding: 100px 16px;
  margin-bottom: 32px;
  border-radius: 0 0 24px 24px;
}

@media only screen and (min-width: 1440px) {
  .project-dark-container {
    padding: 120px 37px;
    margin-bottom: 0;
    border-radius: 0;
  }
}
.project-img {
  width: 100%;
}
.projects-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
}

@media only screen and (min-width: 768px) {
  .projects-button-wrapper {
    gap: 20px;
    margin-top: 64px;
  }
}

.projects-button-prev {
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  fill: none;
  stroke: white;
}

@media only screen and (min-width: 768px) {
  .projects-button-prev {
    padding: 18px;
  }
}

.projects-button-next {
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  fill: none;
  stroke: white;
}

@media only screen and (min-width: 768px) {
  .projects-button-next {
    padding: 18px;
  }
}

.projects-button-icon {
  width: 24px;
  height: 24px;
}

@media only screen and (min-width: 768px) {
  .projects-button-icon {
    width: 32px;
    height: 32px;
  }
}

.swiper-button-disabled {
  stroke: #3b3b3b;
}

button {
  padding: 0;
  font-family: inherit;
  color: currentColor;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* comments */
