.work-together {
  max-width: 375px;
  margin: auto;
  background-image: url('../img/glass-effect-mobail.png');
  background-repeat: no-repeat;
  background-size: 85px 100%;
  background-position: right;
  /* background-color: #e0373f; */
}
.wt-header-wrapper {
  position: relative;
  display: flex;
  width: 267px;
}
.wt-img {
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 12px;
}
.wt-header {
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  margin-top: 4px;
}
.span-wt-header {
  margin-left: 52px;
}
.word-work {
  color: #ed3b44;
}
/** Форма */
.wt-form {
  flex-wrap: wrap;
  margin-top: 63px;
}
.wt-input {
  border: none;
  background-color: #1c1d20;
  color: #fafafa;
  width: 343px;
  height: 44px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}
.wt-input:hover,
.wt-input:focus {
  outline: none;
  border-color: #fafafa;
}
.wt-input:first-child {
  margin-bottom: 16px;
}
.wt-input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

/** Кнопка Send */
.wt-btn {
  padding: 0;
  border: none;
  background-color: #ed3b44;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-top: 32px;
}
.wt-btn:hover {
  background-color: #e0373f;
}
/** Контакты */
.wt-address {
  margin-top: 64px;
}
.wt-address-list {
  display: flex;
  gap: 4px;
}
.wt-address-link {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
}
.wt-address-link:hover,
.wt-address-link:focus {
  border-color: #fafafa;
}
/** Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .wt-wrapper {
    padding-bottom: 196px;
  }
  .work-together {
    max-width: 768px;
    background-image: url('../img/glass-effect-tablet.png');
    background-size: 198px 100%;
  }
  .wt-img {
    width: 70px;
    height: 70px;
  }
  .wt-header {
    margin-top: 7px;
    font-size: 64px;
  }
  .wt-header-wrapper {
    width: 532px;
  }
  .span-wt-header {
    margin-left: 90px;
  }
  .wt-form {
    margin-top: 18px;
    display: flex;
    align-items: baseline;
  }
  .wt-input {
    width: 245px;
  }
  .wt-input:first-child {
    margin-bottom: 0px;
    margin-right: 32px;
  }
  .wt-btn {
    margin-top: 0;
    margin-left: 32px;
    width: 150px;
    height: 150px;
  }
  .wt-address {
    margin-top: 18px;
  }
  .wt-address-list {
    gap: 8px;
  }
  .wt-address-link {
    padding: 18px 32px;
  }
}
/** Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .work-together {
    max-width: 1440px;
    background-image: url('../img/glass-effect-tablet.png');
    background-size: 400px 100%;
  }
  .work-together {
    padding-left: 196px;
  }
  .wt-input {
    width: 390px;
  }
  .wt-btn {
    margin-left: 86px;
  }
}
